h1{
  color: #1501FF;
  font-weight: bolder;
  font-size: 60px;
}

html, body {
    height: 100%;
    margin: 0;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
  }


body {
    font-family: jetbrains mono;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #2736B9; /* Cor de fundo clara */
}

.container{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    height: 70%;
    border: 7px solid #FA00FF;
    border-radius: 20px;
}

.botoes{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    width: 50%;
    background-color: #1400FF;
    color: white;
    text-decoration: none;
    font-size: 250%;
    font-weight: 900;
    box-shadow: 5px 5px 5px rgb(172, 172, 172);
}

.sair{
    margin-top: auto;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 900;
    display: flex;
    margin-bottom: 10px;
}

.icone_sair{
    width: 5%;
}