<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário com Quill</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/criarVideo.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <div class="criacao">
        <h1>Editar Video</h1>

        <form id="updateVideoForm" method="POST" action="<%=post.id%>" class="formulario" enctype="multipart/form-data">
            <div>
                <label for="titulo" class="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" class="inputTitulo" required>
            </div>

            <div>

                <label for="imagem" class="titulo">Imagem</label>
                <input name="imagem" type="file" accept="image/*" id="imageInput"> 

                <label for="conteudo" class="conteudo">Conteúdo</label>   

                <input type="textarea" name="conteudo" id="conteudo" class="inputTitulo">
            </div>

            <button type="submit" class="botao">Editar Video</button>
        </form>
    </div>

    <script src="/js/video_editar.js"></script>
</body>
</html>
