<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <header class="cabecalho">
        <h1 class = "meu_Nome">Gabriel_Ferreira<br>de_Castro</h1>

        <nav>
            <a href="/home" class="linksNav">home</a>
            <a href="/blog" class="linksNav">meu_blog</a>
            <a href="/explicando" class="linksNav">explicando</a>
        </nav>
        <div class="gl">
            <div class="publi">
                <a href="https://github.com/Ferreira327">
                <img class ="logos" src="/img/pngegg.png" alt="github"></a>
                <a href="https://github.com/Ferreira327" class = "Links">meu github</a>
            </div>

            <div class="publi">
                <a href="https://www.linkedin.com/in/gabriel-ferreira-30a855217/">
                <img class ="logos" src="/img/linkedin.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/gabriel-ferreira-30a855217/" class = "Links">meu linkedin</a>
            </div>
        </div>

        <h1 class="fraseIconica">Exploring The World Thought the code;</h1>

    </header>

    <div class="sobreMim">

        <h1 class="titutoAbout">Sobre mim</h1>
        <div class="fotoTexto">
            <p class="texto" id="sobreMim"></p>
        <div class="circuloImagem">
            <img class="minhaFoto" src="/img/minha foto.jpeg.jpg" alt="">
        </div>
        </div>

    </div>

    <div class = "conheca">
        <h1 class="titutoAbout" id = "conheca">Conheça_</h1>
        <div class = "blocos">
            <a href="/explicando"> 
                <div class="bloco">
                    <img class="fotoExplicando" src="/img/explicando.png" alt="">
                    <div class="overlay">
                        <p>Explicando é uma ideia que tive para mostar e exercitar minhas habilidades de didática e fala. Nesse lugar do meu site, você encontrará diversos videos de conteúdos que aprendi e achei interessante repassar!</p>
                    </div>
                </div>
            </a>

            <a href="/blog"> 
                <div class="bloco">
                    <img class="fotoExplicando" src="/img/blog.png" alt="">
                    <div class="overlay">
                        <p>O blog é direcionado para que eu possa mostrar o que estou aprendendo e o que já sei sobre qualquer assunto relacionado à programação.</p>
                    </div>

                </div>
             </a>


        </div>
    
    </div>

    <footer>
        <p class="copyright">2024 | GABRIEL FERREIRA DE CASTRO</p>
    </footer>


     
    <script src="/js/script.js"></script> 
</body>
</html>