<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <header class="cabecalho">
        <h1>Gabriel_Ferreira<br>de_Castro</h1>

        <nav>
            <a href="/home" class="linksNav">home</a>
            <a href="/blog" class="linksNav">meu_blog</a>
            <a href="/explicando" class="linksNav">explicando</a>
        </nav>

        <h1 class="fraseIconica">Exploring The World Thought the code;</h1>

    </header>

    <div class="sobreMim">

        <h1 class="titutoAbout">Sobre mim</h1>
        <div class="fotoTexto">
            <p class="texto" id="sobreMim"></p>
        <div class="circuloImagem">
            <img class="minhaFoto" src="/img/minha foto.jpeg.jpg" alt="">
        </div>
        </div>

    </div>

    <div class = "conheca">
        <h1 class="titutoAbout" id = "conheca">Conheça_</h1>
        <div class = "blocos">
            <a href="/explicando"> 
                <div class="bloco">
                    <img class="fotoExplicando" src="/img/explicando.png" alt="">
                    <div class="overlay">
                        <p>Este é o texto explicativo que aparece ao passar o mouse.</p>
                    </div>
                </div>
            </a>

            <a href="/blog"> 
                <div class="bloco">
                    <img class="fotoExplicando" src="/img/blog.png" alt="">
                    <div class="overlay">
                        <p>Este é o texto explicativo que aparece ao passar o mouse.</p>
                    </div>

                </div>
             </a>


        </div>
    
    </div>

    <footer>
        <p class="copyright">2024 | GABRIEL FERREIRA DE CASTRO</p>
    </footer>


     
    <script src="/js/script.js"></script> 
</body>
</html>